@tailwind base;
@tailwind components;
@tailwind utilities;

.app-region {
  -webkit-app-region: drag;
}

.app-region > * {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  border-radius: 4px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
